@CHARSET "UTF-8";

/* 蒙版 */
#ba_mask {
	position: absolute;
	top: 0;
	z-index: 50;
	height: 100%;
	width: 100%;
	background: transparent;
	background-color: black;
	opacity: 0.1;
	display: none;
}

/* 添加图书标签 */
.div_style {
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
	z-index: 100;
}

#div_addTag {
	width: 40%;
	position: absolute;
	top: 40%;
	left: 25%;
	font: normal 20px/40px "楷体";
	display: none;
}

.text_style {
	font: normal 18px/25px "楷体";
	outline: none;
	border-radius: 5px;
}

span {
	color: red;
	font: normal 15px/20px "楷体";
}

.btn_style {
	font: normal 20px/20px "楷体";
	outline: none;
	border-radius: 5px;
	background-color: white;
}

/* 添加图书类型 */
#div_addGenres {
	width: 40%;
	position: absolute;
	top: 38%;
	left: 25%;
	font: normal 20px/40px "楷体";
	display: none;
}

.select_style {
	font: normal 18px/25px "楷体";
	outline: none;
}

/* 添加图书 */
#ba_bookAdd {
	position: absolute;
	top: 0;
	width: 96%;
	height: 96%;
	z-index: 0;
	border: none;
}

#ba_form {
	width: 100%;
	height: 100%;
}

.tb_book {
	border-collapse: separate;
	border-spacing: 25px;
}

/* 添加图书编号 */
#div_addisbn {
	position: absolute;
	top: 20%;
	width: 50%;
	left: 20%;
	z-index: 100;
	display: none;
}

/* 添加图书所在省 */
#add_bookProvince,#add_bookCity,#add_bookCounty {
	position: absolute;
	top: 20%;
	width: 50%;
	left: 20%;
	z-index: 100;
	display: none;
}

.select_add {
	border: 1px gray solid;
	border-radius: 2px;;
	color: red;
	font:bold 18px/25px "楷体";
}