<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="db.properties"></properties>

	<typeAliases>
		<package name="com.zby.books.model.po" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />

			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.zby.books.configuration.C3P0DataSourceFactory">
			
				<property name="driverClass" value="${driver}" />
				<property name="jdbcUrl" value="${url}" />
				<property name="user" value="${username}" />
				<property name="password" value="${password}" />
				
				连接池初始化大小为3
				<property name="initialPoolSize" value="10" />
				连接池最大为10
				<property name="maxPoolSize" value="200" />
				连接池最小为3
				<property name="minPoolSize" value="10" />
				连接池在无空闲连接可用时一次性最多创建的新数据库连接数
				<property name="acquireIncrement" value="10" />
				连接的最大空闲时间，如果超过这个时间（秒），某个数据库连接还没有被使用，则会断开掉这个连接。如果为0，则永远不会断开连接,即回收此连接
				<property name="maxIdleTime" value="30" />
				最大的Statement数量
				<property name="maxStatements" value="500" />
				每个连接启动的最大Statement数量
				<property name="maxStatementsPerConnection" value="50" />
				同时运行的线程数
				<property name="numHelperThreads" value="20" />
			</dataSource>
		</environment>
	</environments> -->

	<mappers>
		<mapper resource="com/zby/books/configuration/delete_mapper.xml"/>
		<mapper resource="com/zby/books/configuration/insert_mapper.xml"/>
		<mapper resource="com/zby/books/configuration/select_mapper.xml"/>
		<mapper resource="com/zby/books/configuration/update_mapper.xml"/>
	</mappers>
</configuration>